<form [formGroup]="itemForm" (ngSubmit)="addItem()" class="container">
  <div class="row">
    <div class="col-6">
      <label>Food Item :</label>
      <input formControlName="itemName" class="form-control" type="text" placeholder="Please enter food item">
    </div>

    <div class="col-3">
      <label>Count :</label>
      <input formControlName="itemCount" type="number" class="form-control" placeholder="Please add Count" />
    </div>

    <div class="col-3">
      <button type="submit">Add Item</button>
    </div>
  </div>

  <div class="row">
    <label>Added Food Items:</label>
    <div *ngFor="let val of itemList">
      <p>{{val.itemName}}</p>
      <p>{{val.itemCount}}</p>
    </div>
  </div>
</form>

<button type="submit" (click)="getItem()">show Data</button>
<div class="row">
  <label>Show Added Food Items:</label>
  <div *ngFor="let val of getData">
    <p>{{val.itemName}}</p>
    <p>{{val.itemCount}}</p>
  </div>
</div>